<h1>About</h1>
<p>
  This app is designed for the allotment of projects to the students who will register for CSCE 606(Software Engineering). The github repository to this project is <a href="https://github.com/Rubythons/Project-Collection-and-Assignment">Software Engineering Project Git.</a>	
</p>
